<div class="container">
  <div class="col-md-12">
    <p>Stock-Scan is a Rails App applying the gem I wrote to more efficiently track financial
      data that I use in my trading decisions.  The gem extracts all-time-highs, all-time-lows,
      new highs, new lows, and new highs and lows over multiple time periods from Barchart.
    </p>
    <p>
      <h4>Market Breadth:</h4>
      Market Breadth is a technique to guage the health of the overall market, mostly through
      indicators.  One technique is to user the number of stocks making new highs and new lows
      over multiple time periods.  In a robust and healthy market stocks making new highs over
      these periods should be higher in magnitude than stocks making lows.  <br>
      Another indication of a healthy market is an expanding universe of stocks making new highs
      and in particular all-time-highs.
    </p>

    <p>
      <h4>Vehicle Selection:</h4>
      Stocks that continue to make new highs and all-time-highs show demand.  By following these
      stocks and curating watch list from them one can find favored stocks showing price appreciation
      and when clustered in sectors have a clearer picture of industry related moves.
    </p>
  </div>
</div>
