<div class="container">
  <div class="jumbotron verticle-center">
    <div class="container">
      <h2>Stock-Scan</h2>
      <h4>Scanner for New Highs and New Lows </h4>
    </div>
  </div>
</div>

<hr>

<div class="row">
  <div class="container">
    <div class="col-md-3">All-Time-Highs <%= @daily_ath_tally %></div>
    <div class="col-md-3">All-Time-Lows</div>
    <div class="col-md-3">New Highs</div>
    <div class="col-md-3">New Lows</div>
  </div>
</div>

