/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';
.navbar-header .navbar-brand {
  color: #D80606;
}
.navbar-brand {
  font-family: Ariel, sans-serif;
  font-size: 25px;
  font-weight: normal;
  line-height: 18px;
  word-spacing: 0px;
}

.navbar-default .navbar-nav > li > a {
  font-famil: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight :bold;
  color: #019285;
}

.jumbotron {
  background-image: url("stock_image.png");
}

.center{
  text-align: center;
}
